<% if @tips.present? %>
  <% @tips.each do |f| %>
    <div class="tiped">
      <div class="tiped-contents">
        <div class="tiped-title">
          <%= link_to f.title, tip_path(f.id, method: :get) %>
        </div>
        <p class="tiped-title-contents">投稿時間 :  <%= l f.updated_at%></p>
        <p class="tiped-title-contents">タグ :  <% f.tags.each do |tag| %>  <%=tag.name%> <% end %> </p>
        <p class="tiped-title-contents">カテゴリー :  <%= Category.data[f.category_id - 1][:name] %></p>
        <p class="tiped-title-contents">投稿者 :  <span><%= link_to f.user.nickname, "/users/#{f.user.id}", id:'tiped-title-contents-distributer' %></span> </p>
        <p class="tiped-title-contents">説明 : <br> <%= f.description%></p>
        </div>
      <div class="tiped-image-field">
        <div class="main-image", id="main-image">
          <% if f.image.present? && f.image.content_type == 'application/pdf' %>
            <%= link_to image_tag(f.image_url(:thumb).to_s, class: 'uped-image-main', id:'uped-image-main'), tip_path(f.id, method: :get) %>
          <% elsif f.image.present? %>
              <%= link_to image_tag(f.image.url, class: 'uped-image-main', id:'uped-image-main'), tip_path(f.id, method: :get) %>
          <% else %>
            <%= link_to image_tag("noimage.jpg", class:"no-image-main"), tip_path(f.id, method: :get) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="search-nil">投稿はありません</p>
  <div  class="search-to-top">
    <a href="/">ーーートップページへーーー</a>
  </div>
<% end %>