<div class="back">
  <div class=top>
    <%= render "top" %>
  </div>
  <div class="main">
    <div class="side-bar">
      <%=render "side_bar" %>
    </div>
    <div class="main-area">
      <div class="main-top">
        <div class="new-tip-title">
          <% if current_page?(root_path) %>
            <p>最新の投稿</p>
          <% else %>
            <p>検索結果</p>
          <% end %>
        </div>
        <div class="search-area">
            <%= form_with(url: search_tips_path, local: true, method: :get, class: "search-area-form") do |form| %>
              <%= form.text_field :keyword, placeholder: "キーワードを入力", class: "search-form" %>
              <%= form.submit "検索", class: "search-button" %>
            <% end %>
        </div>
      </div>
      <% if @results.length !=0 %>
        <% @results.each do |f| %>
          <div class="tiped">
            <div class="tiped-contents">
              <div class="tiped-title">
                <%= link_to f.title, tip_path(f.id, method: :get) %>
              </div>
              <p class="tiped-title-contents">投稿時間 :  <%= l f.updated_at%></p>
              <p class="tiped-title-contents">タグ :  <% f.tags.each do |tag| %>  <%=tag.name%> <% end %> </p>
              <p class="tiped-title-contents">カテゴリー :  <%= Category.data[f.category_id - 1][:name] %></p>
              <p class="tiped-title-contents">投稿者 :  <%= link_to f.user.nickname, "/users/#{f.user.id}" %> </p>
              <p class="tiped-title-contents">説明 : <br> <%= f.description%></p>
            </div>
            <div class="tiped-image-field">
              <div class="main-image", id="main-image">
                <% if f.image.present? && f.image.content_type == 'application/pdf' %>
                  <object data="<%=url_for(f.image)%>" type="application/pdf" width="250" height="250" ></object>
                  <%# ダミーイメージopacity:0; をpdfイメージの上に配置し、リンクを生成する %>
                  <%= link_to image_tag("noimage.jpg", id:'uped-image-main', class: 'uped-image-hide'), tip_path(f.id, method: :get) %>
                <% elsif f.image.present? %>
                    <%= link_to image_tag(f.image.url, class: 'uped-image-main', id:'uped-image-main'), tip_path(f.id, method: :get) %>
                <% else %>
                  <%= link_to image_tag("noimage.jpg", class:"no-image-main"), tip_path(f.id, method: :get) %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="search-nil">投稿はありません</p>
        <div  class="search-to-top">
          <a href="/">ーーートップページへーーー</a>
        </div>
      <% end %>
    </div>
</div>